<p id="notice"><%= notice %></p>

<p>
  <strong>Github:</strong>
  <%= @user.github_id %>
</p>

<p>
  <strong>使用ポイント:</strong>
  <%= @user.used_point %>
</p>

<p>
  <strong>未使用ポイント:</strong>
  <%= commits - @user.used_point %>
</p>
<p>
  <strong>Commits:</strong>
  <%= commits %>
</p>
<%= button_to 'Color', use_point_user_path(@user), remote: true %>
<%= button_to 'Size', use_point_user_path(@user), remote: true %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
